<!DOCTYPE html>
<html lang="en">

<body>
  <div
    style="background-color: rgb(191, 191, 209); width: 50%;height: auto; display: flex ; justify-items: center; flex-direction: column; align-items: center">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script>
      let socket = io()
      
    </script>
    <div>
      <h1 style="color: blue">Vista de Productos</h1>
      <%- include('./partials/tabla.ejs') %>
    </div>
  </div>
  <br>
  <%- include('./partials/chat.ejs') %>
</body>

</html>